/* Estilos globales */
body {
  margin: 0;
  font-family: 'Fira Code', 'Cascadia Code', 'Roboto Mono', monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
  color: white; /* Added for white text */
  min-height: 100vh;
  /* display: flex; */ /* Eliminado para permitir que el contenido se extienda */
  /* justify-content: center; */ /* Eliminado para permitir que el contenido se extienda */
  /* align-items: center; */ /* Eliminado para permitir que el contenido se extienda */
  padding: 0 10px; /* Añadir padding horizontal al body */
}

#root, .App {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  /* align-items: center; */ /* Eliminado para permitir que el contenido se extienda */
  /* justify-content: center; */ /* Eliminado para permitir que el contenido se extienda */
}

code {
  font-family: 'Fira Code', 'Cascadia Code', 'Roboto Mono', monospace;
}