.player-card {
  width: 100%; /* Ocupar todo el ancho disponible */
  max-width: 500px; /* Limitar el ancho para pantallas muy anchas */
  background: rgba(255, 255, 255, 0.3);
  border-radius: 15px;
  padding: 20px;
  margin-bottom: 10px; /* Añadir espacio entre las tarjetas */
  box-shadow: 0 6px 6px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.4);
  color: #333;
  display: flex;
  justify-content: space-between; /* Alinear nombre a la izquierda y dinero a la derecha */
  align-items: center;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.player-card:hover {
  transform: translateY(-3px);
}

.player-card.selected {
  border: 2px solid #3678ce; /* Borde azul para indicar selección */
  box-shadow: 0 0 15px rgba(0, 123, 255, 0.5); /* Sombra azul para resaltar */
}

.player-name {
  font-weight: bold;
  color: #696969;
}

.player-money {
  font-weight: bold;
  color: #4CAF50; /* Color para el dinero */
}

.money-animation {
  position: absolute;
  right: 80px;
  font-weight: bold;
  animation: fadeOutUp 5s forwards;
}

.money-animation.gain {
  color: #4fd12e; /* Verde para ganancias */
}

.money-animation.loss {
  color: #dc3545; /* Rojo para pérdidas */
}

@keyframes fadeOutUp {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-20px);
  }
}